/* styles.css */
body {
    font-family: Avenir, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reading-info {
    margin-top: 5px;
    text-align: left; /* or 'center' if preferred */
    font-size: 14px; /* Adjust as needed */
    color: #333; /* Text color */
    /* Other styling as needed */
}